.deck-header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0 0 0 0;
  color: white;
}

.deck-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  align-items: start;
  margin-bottom: 8px;
}

.deck-header input {
  padding: 0.5rem;
  min-width: 140px;
  border-radius: 8px;
  border: 0px;
}

.deckbutton {
  margin: 0 2px;
}

.card-size-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 24px;
  height: 24px;
  vertical-align: start;
}

.deck-info p {
  display: flex;
  margin: 4px 0;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .deckbutton {
    margin: 0 2px;
  }
  .deck-header input {
    width: 100%;
  }
}
