header {
  display: flex;
  height: 60px;
  margin: 0 auto;
  border-radius: 0 0 16px 16px;
  margin-bottom: 1rem;
  color: white;
}

header a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

header a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s ease;
}

header a:hover {
  color: #ffdddd;
}

header a:hover::after {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 6rem;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 3rem;
}

.nav-login {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo {
  padding-top: 8px;
  width: 120px;
}

@media (max-width: 768px) {
  nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1.5rem 0 1rem;
  width: 100%;
  font-size: 0.9rem;
}

  .logo {
    width: 100px;
  }
}