.cards-container {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-size), var(--card-size)));
  justify-content: center;
  gap: 0.1rem;
  padding-bottom: 64px; /* debug, weil Karten sonst angeschnitte angezeigt werden */
}

.card {
  border-radius: 6px;
  padding: 0.5rem;
  transition: transform 0.2s ease;
  max-width: 100%;
}

.card:hover .img-pool {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0px 4px rgba(255, 255, 255, 0.726);
}

.img-pool {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.deck-cards {
  min-height: 100%; 
  transition: background 0.2s;
  border-radius: 16px;
}
.deck-cards.drag-over {
  background: #ffffff77; /* highlight when dragging over */
}
