.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.card-size-slider {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-bar input {
  padding: 0.5rem;
  min-width: 140px;
  border-radius: 8px;
  border: 0px;
}

.filter-bar select {
  padding: 0.5rem;
  min-width: 140px;
  border-radius: 8px;
}

.card-size-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.deckbuilder-titles {
  color: white;
  font-size: 1.2rem;
  margin: 0 0 0.5rem 0;
}
