.admin-page-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0 auto 64px auto;
  justify-content: center;
  gap: 4rem;
}

@media (max-width: 768px) {
  .admin-page-container {
    width: 80vw;
    min-height: 10px;
    margin: 0 auto 64px auto;
  }
}
