.login-page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  gap: 4rem;
}

/** Tabs Styles */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  color: #fff;
  font-weight: 700;
  margin: 0 0;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border-bottom: none;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #ffffff99;
  border-color: #aaa;
  color: #323232;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: #fff;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

@media (max-width: 768px) {
  .login-page-container {
    width: 80vw;
    min-height: 10px;
    margin: 0 auto;
  }
}
